@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -----------
common styles 
-------------*/
body{
    width: 1600px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* -----------
banner styles 
-------------*/
.banner{
    height: 645px;
    width: 1320px;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    display: flex;
}
.left-text{
    width: 50%;
    padding-left: 110px;
}
.left-text h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 4px;
    margin-top: 100px;
}
.left-text p{
    font-size: 16px;
    line-height: 26px;
}
.watch-live{
    width: 187px;
    height: 56px;
    background: #1379D7E5;
    border-radius: 5px;
    color: white;
    margin-top: 14px;
}
.watch-live:hover{
    background-color: rgb(5, 65, 175);
    transition: ease-in;
    transition-duration: 0.4s;
}
.fa-play{
    padding-left: 5px;
}
.banner-image{
    width: 50%;
    margin-top: 77px;
}
.banner-image img{
    width: 618px;
    height: 577px;
}


/* ---------------
navigation styles
-----------------*/
.nav-blogs{
    width: 1320px;
    display: flex;
    margin-top: 130px;
    column-gap: 24px;
}
nav{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color: white;
    color: #161616;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.btn a{
    text-decoration: none;
    color: #161616;
    display: block;
}
#active{
    background-color: #136FC3;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/* ----------
blogs styles
-------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.blog{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.transfer{
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    background-color: white;
    margin-left: 20px;
}
.transfer:hover{
    background-color: #136FC3;
    color: white;
    transition: ease-in;
    transition-duration: 0.3s;
}
.blog img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.title{
    margin: 0px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}
.status{
    margin-left: 20px;
    display: flex;
    column-gap: 30px;
}
.status p{
    margin: 0px;
}

/* ------------------
Footer section styles 
---------------------*/
footer{
    height: 444px;
    background: #161616;
    margin-top: 130px;
}
.logo{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 130px;
}
hr{
    margin-top: 42px;
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.quick-nav{
    padding: 50px 0px 97px 0px;

}
.quick-nav ul{
    list-style: none;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
.quick-nav ul li{
    color: white;
}
.fa-facebook-square{
    color: #1771e6;
}
.fa-twitter-square{
    color: #1c93e4;
}
.fa-github-square{
    color: #8f00ff;
}


/* ---------------------
upcomoing matchs styles 
-----------------------*/
.upcoming-matchs{
    
}
.upcoming-match{
    width: 250px;
    height: 150px;
    padding: 45px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.flag-vs{
    display: flex;
    justify-content: center;
    column-gap: 22px;
    align-items: center;
}
.flag-vs img{
    width: 93.04px;
    height: 56.18px;
}
.flag-vs p{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #161616;
}
.team-vs p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161616;
}
.match-time p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}
#btn button{   
    width: 200px;
    height: 64px;
    border-radius: 10px;
}
.social{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #161616;;
}
.social p{
    color: white;
    font-size: 30px;
}

/* ----------------------------
media quiery for mobile device 
-------------------------------*/
@media (min-width:320px) and (max-width: 480px) {
    body{
        margin: 0px;
        padding: 0px;
        width: 393px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 393px;
    }
    .banner{
        flex-direction: column;
        width: 334px;
        height: 472px;
        margin: 0px;
        align-items: center;
        padding-top: 28px;
    }
    .left-text{
        height: 50%;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .left-text h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        padding: 0px;
        margin: 0px;
    }
    .left-text p{
        padding: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        ;
        width: 100%;
        overflow: hidden;
        min-width: 20ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .watch-live{
        width: 161px;
        height: 40px;
        margin-top: 0px;
        border-radius: 5px;
        border: none;
    }
    .banner-image{
        height: 50%;
        margin-top: 5px;
    }
    .banner-image img{
        width: 233px;
        height: 245px;
        margin-top: -5px;
    }

    .nav-blogs{
        flex-direction: column;
        width: 393px;
        row-gap: 20px;
        align-items: center;
        margin-top: 24px;
    }
    nav{
        background-color: white;
    }
    .btn{

    }
    .blogs{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer{
        width: 393px;
        height: 412px;
        margin-top: 24px;
    }
    .logo{
        padding: 24px;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
    }
    hr{
        margin: 0px;
        width: 393px;     
    }
    .quick-nav{
        padding: 24px 0px 0px 0px;
        width: 100%;
    }
    .quick-nav ul{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding-left: 0px;
    }
    #hiden-md-lg{
        display: none;
    }
}

/* ----------------------------
media quiery for tab device 
-------------------------------*/
@media (min-width:481px) and (max-width:768px) {
    body{
        width: 834px;
    }
    .container{
        width: 100%;
    }
    .banner{
        width: 734px;
        height: 398px;
    }
    .left-text{
        width: 50%;
        padding-left: 76px;
    }
    .left-text h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        margin-top: 61px;
    }
    .left-text p{
        padding: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .banner-image{
        width: 50%;
        margin-top: 63px;
    }
    .banner-image img{
        width: 323px;
        height: 340px;
    }
    .nav-blogs{
        flex-direction: column;
        width: 734px;
        margin-top: 70px;
    }
    nav{
        flex-direction: row;
        width: 100%;
        height: 50px;
        column-gap: 24px;
        background-color: white;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .btn{
        width: 230px;
        height: 64px;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    #hiden-tab{
        display: none;
    }
    .view{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .view-all{
        width: 131px;
        height: 47px;
        background-color: #136FC3;
        border: none;
        border-radius: 5px;
        text-align:center;
        color: white;
        margin-top: 24px;
    }
    .blog img{
        width: 357px;
        height: 414.21px;
    }
    .quick-nav{
        padding-bottom: 70px;
    }
}


/* ----------------------------
media quiery for lg device 
-------------------------------*/

@media (min-width:769px){
    #hiden-md-lg{
        display: none;
    }
}