@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -----------
common styles 
-------------*/
body{
    width: 1600px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* -----------
banner styles 
-------------*/
.banner{
    height: 645px;
    width: 1320px;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    display: flex;
}
.left-text{
    width: 50%;
    padding-left: 110px;
}
.left-text h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 4px;
    margin-top: 100px;
}
.left-text p{
    font-size: 16px;
    line-height: 26px;
}
.watch-live{
    width: 187px;
    height: 56px;
    background: #1379D7E5;
    border-radius: 5px;
    color: white;
    margin-top: 14px;
}
.watch-live:hover{
    background-color: rgb(5, 65, 175);
    transition: ease-in;
    transition-duration: 0.4s;
}
.fa-play{
    padding-left: 5px;
}
.banner-image{
    width: 50%;
    margin-top: 77px;
}
.banner-image img{
    width: 618px;
    height: 577px;
}


/* ---------------
navigation styles
-----------------*/
.nav-blogs{
    width: 1320px;
    display: flex;
    margin-top: 130px;
    column-gap: 24px;
}
nav{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}
nav button{
    width: 252px;
    height: 64px;
    border-radius: 10px;
}
.normal{
    background-color: white;
    color: #161616;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.active{
    background: #136FC3;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/* ----------
blogs styles
-------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.blog{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.transfer{
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    background-color: white;
    margin-left: 20px;
}
.transfer:hover{
    background-color: #136FC3;
    color: white;
    transition: ease-in;
    transition-duration: 0.3s;
}
.blog img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.title{
    margin: 0px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}
.status{
    margin-left: 20px;
    display: flex;
    column-gap: 30px;
}
.status p{
    margin: 0px;
}

/* ------------------
Footer section styles 
---------------------*/
footer{
    height: 444px;
    background: #161616;
    margin-top: 130px;
}
.logo{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 130px;
}
hr{
    margin-top: 42px;
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.quick-nav{
    padding: 50px 0px 130px 0px;
}
.quick-nav ul{
    list-style: none;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
.quick-nav ul li{
    color: white;
}